
<h3>Tell us a little bit about your self:</h3>

    <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
            <label>Your favorite comic book superhero</label>
            <input name="name" ng-model="formData.superhero"/>

        </md-input-container>
        <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
        </div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Tv Series that you are currently watching</label>
            <input name="social" ng-model="formData.series"/>
        </md-input-container>

    </div>

    <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
            <label>Wich onde do you use: Bolacha or biscoito?</label>
            <input name="email" ng-model="formData.cookie"/>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm>
            <label>What is the best quote ever</label>
            <input name="phone" ng-model="formData.quote"/>
        </md-input-container>

    </div>

<br>
<br>
<br>

<md-divider></md-divider>

<div layout-gt-sm="row">

    <div flex-gt-sm="85">
        <!-- Spacer //-->
    </div>

    <div flex-gt-sm="15" flex-xs="50" class="next-btn">

        <md-button class="md-raised md-primary" ui-sref="form.starwarsmovie">Next</md-button>
    </div>

</div>