
<div layout-gt-sm="row" class="got-header">
    <div flex-gt-sm="25" class="got-header-poster">
        <img ng-src="{{vm.gotserie.Poster}}" class="img-responsive" alt="Description" />
    </div>

    <div flex-gt-sm="75" flex-sm="100" flex-xs="100" class="got-header-content">
        <h3 class="margin-bottom-half">{{vm.gotserie.Title}} ({{vm.gotserie.Year}})</h3>
        <p>{{vm.gotserie.Plot}}</p>
        <br>
        <p><b>Got is an amazing TV Show. What is your favorite season?</b></p>

        <md-radio-group ng-model="formData.GotSeason">
            <md-radio-button value="GoT Season 1" class="got-radio md-primary"> 1 </md-radio-button>
            <md-radio-button value="GoT Season 2" class="got-radio md-primary"> 2 </md-radio-button>
            <md-radio-button value="GoT Season 3" class="got-radio md-primary"> 3 </md-radio-button>
            <md-radio-button value="GoT Season 4" class="got-radio md-primary"> 4 </md-radio-button>
            <md-radio-button value="GoT Season 5" class="got-radio md-primary"> 5 </md-radio-button>
            <md-radio-button value="GoT Season 6" class="got-radio md-primary"> 6 </md-radio-button>
        </md-radio-group>
    </div>
</div>

<div layout-gt-sm="row" ng-show="formData.GotSeason" class="table-head" show-xs show-sm>
    <h3>Episodes:</h3>
</div>

<div class="table-holder" ng-show="formData.GotSeason" layout-sm="row" layout-wrap layout-align="center center">
    <div layout-gt-sm="row" class="table-head" hide-xs hide-sm>
        <div flex-gt-sm="10" class="table-title">Episode</div>
        <div flex-gt-sm="55" class="table-title">Name</div>
        <div flex-gt-sm="15" class="table-title">Released</div>
        <div flex-gt-sm="15" class="table-title">Imdb Rating</div>
    </div>

    <div layout-gt-sm="row" layout-sm="column" class="table-body" ng-repeat="episode in vm.gotseason1.Episodes" flex-sm="30" ng-show="formData.GotSeason == 'GoT Season 1' ">
        <div flex-gt-sm="10" flex-sm="5" class="table-number">{{episode.Episode}}</div>
        <div flex-gt-sm="55" flex-sm="10" class="episode-col">{{episode.Title}}</div>
        <div flex-gt-sm="15" class="released-col" hide-xs hide-sm>{{episode.Released | date}}</div>
        <div flex-gt-sm="15" class="table-number" hide-xs hide-sm>{{episode.imdbRating}}</div>
    </div>

    <div layout-gt-sm="row" layout-sm="column" class="table-body" ng-repeat="episode in vm.gotseason2.Episodes" flex-sm="30" ng-show="formData.GotSeason == 'GoT Season 2' ">
        <div flex-gt-sm="10" flex-sm="5" class="table-number">{{episode.Episode}}</div>
        <div flex-gt-sm="55" flex-sm="10" class="episode-col">{{episode.Title}}</div>
        <div flex-gt-sm="15" class="released-col" hide-xs hide-sm>{{episode.Released | date}}</div>
        <div flex-gt-sm="15" class="table-number" hide-xs hide-sm>{{episode.imdbRating}}</div>
    </div>

    <div layout-gt-sm="row" layout-sm="column" class="table-body" ng-repeat="episode in vm.gotseason3.Episodes" flex-sm="30" ng-show="formData.GotSeason == 'GoT Season 3' ">
        <div flex-gt-sm="10" flex-sm="5" class="table-number">{{episode.Episode}}</div>
        <div flex-gt-sm="55" flex-sm="10" class="episode-col">{{episode.Title}}</div>
        <div flex-gt-sm="15" class="released-col" hide-xs hide-sm>{{episode.Released | date}}</div>
        <div flex-gt-sm="15" class="table-number" hide-xs hide-sm>{{episode.imdbRating}}</div>
    </div>

    <div layout-gt-sm="row" layout-sm="column" class="table-body" ng-repeat="episode in vm.gotseason4.Episodes" flex-sm="30" ng-show="formData.GotSeason == 'GoT Season 4' ">
        <div flex-gt-sm="10" flex-sm="5" class="table-number">{{episode.Episode}}</div>
        <div flex-gt-sm="55" flex-sm="10" class="episode-col">{{episode.Title}}</div>
        <div flex-gt-sm="15" class="released-col" hide-xs hide-sm>{{episode.Released | date}}</div>
        <div flex-gt-sm="15" class="table-number" hide-xs hide-sm>{{episode.imdbRating}}</div>
    </div>

    <div layout-gt-sm="row" layout-sm="column" class="table-body" ng-repeat="episode in vm.gotseason5.Episodes" flex-sm="30" ng-show="formData.GotSeason == 'GoT Season 5' ">
        <div flex-gt-sm="10" flex-sm="5" class="table-number">{{episode.Episode}}</div>
        <div flex-gt-sm="55" flex-sm="10" class="episode-col">{{episode.Title}}</div>
        <div flex-gt-sm="15" class="released-col" hide-xs hide-sm>{{episode.Released | date}}</div>
        <div flex-gt-sm="15" class="table-number" hide-xs hide-sm>{{episode.imdbRating}}</div>
    </div>

    <div layout-gt-sm="row" layout-sm="column" class="table-body" ng-repeat="episode in vm.gotseason6.Episodes" flex-sm="30" ng-show="formData.GotSeason == 'GoT Season 6' ">
        <div flex-gt-sm="10" flex-sm="5" class="table-number">{{episode.Episode}}</div>
        <div flex-gt-sm="55" flex-sm="10" class="episode-col">{{episode.Title}}</div>
        <div flex-gt-sm="15" class="released-col" hide-xs hide-sm>{{episode.Released | date}}</div>
        <div flex-gt-sm="15" class="table-number" hide-xs hide-sm>{{episode.imdbRating}}</div>
    </div>
</div>

<br>

<md-divider></md-divider>

<div layout-gt-sm="row">

    <div flex-gt-sm="15" flex-xs="50" class="prev-btn">

        <md-button class="md-raised md-primary" ui-sref-active="active" ui-sref="form.starwarsmovie">Back</md-button>
    </div>

    <div flex-gt-sm="70">
        <!-- Spacer //-->
    </div>

    <div flex-gt-sm="15" flex-xs="50" class="next-btn">

        <md-button class="md-raised md-primary" ui-sref="form.food">Next</md-button>
    </div>

</div>